<!doctype html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Login</h2>
                            <form method="POST" action>
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.username.label(class="form-label")
                                    }}
                                    {{ form.username(class="form-control",
                                    size=32) }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="form-label")
                                    }}
                                    {{ form.password(class="form-control",
                                    size=32) }}
                                </div>
                                <div class="form-group text-center mt-3">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
