{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">任务详情</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <h2>{{ task.name }}</h2>
                </div>
                <div class="card-body">
                    <p><strong>参数:</strong> {{ task.params }}</p>
                    <p><strong>邮件发送:</strong> {{ '是' if task.send_email else '否'
                        }}</p>
                    <p><strong>创建时间:</strong> {{ task.created_at }}</p>
                    <p><strong>创建者:</strong> {{ task.creator.username
                        }}</p>

                    <p><strong>IP地址:</strong></p>
                    <textarea class="form-control" rows="5"
                        readonly>{{ task.ips }}</textarea>
                </div>
                <div class="card-footer">
                    <button id="exportButton"
                        class="btn btn-primary">导出端口数据为Excel</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>端口数据</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped mt-4" id="portTable">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>协议</th>
                                <th>端口</th>
                                <th>服务</th>
                                <th>Banner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for port in ports %}
                            <tr>
                                <td>{{ port.ip }}</td>
                                <td>{{ port.agree }}</td>
                                <td>{{ port.port }}</td>
                                <td>{{ port.name }}</td>
                                <td>{{ port.banner }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/xlsx.full.min.js') }}"></script>
<script>
document.getElementById('exportButton').addEventListener('click', function() {
    var wb = XLSX.utils.table_to_book(document.getElementById('portTable'), { sheet: "Sheet1" });
    XLSX.writeFile(wb, 'port_table.xlsx');
});
</script>
{% endblock %}
